header {
    color:rgb(255, 255, 255);
    background-color: rgb(63, 7, 7);
    
    padding:1px 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav__state li {
    display: inline-block;
    padding: 0px 10px;
  }
  
  
  body {
    margin: 0;
  }
  

  .introductions {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
  }

  a:link {
    color: rgb(134, 4, 124);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(134, 4, 124);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:lightskyblue;
    background-color: transparent;
    text-decoration: underline;
  }
  a {
    transition: all 0.3s ease 0s;
  }

  /* .historyAcesForArian {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } */

  /* #acesPhotoHeader {
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  } */

  .footer-root {
    color:rgb(180, 177, 177);
    background-color:rgb(54, 49, 63);
    padding-bottom:1px;
    padding-top:10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    line-height:1mm;
  }
