body {
    margin: 0;
}
a:link {
    color: white;
    background-color: transarent;
    text-decoration: none;
  }
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
header {
    color:rgb(255, 255, 255);
    background-color: rgb(63, 7, 7);
    
    padding:1px 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav__state li {
    display: inline-block;
    padding: 0px 10px;
  }
.seventeenHeader {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}
.seventeenHistory-header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
}


.seventeenAccolades {
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
  }
.seventeenTournaments {
    display: inline-block;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.noblePlayers {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    
}
.seventeenPictures-header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}
.seventeenPictures-gallery {
    background-color:rgb(255, 255, 255);
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    display: flex;
}

#columnOne {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.seventeenPictures-galleryTwo {
    padding: 5px;
    display: flex;
}
#columnTwo {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.seventeenPictures-galleryThree {
    padding: 5px;
    display: flex;
}
#columnThree {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.footer-root {
    color:rgb(180, 177, 177);
    background-color:rgb(54, 49, 63);
    padding-bottom:1px;
    padding-top:10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    line-height: 1mm;   
  }
