body {
    margin: 0;
}
a:link {
    color: white;
    background-color: transarent;
    text-decoration: none;
  }
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
ol {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.twentyTwoHeader {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}
.twentyTwoAccolades-header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
}
.twentyTwoAccolades {
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.twentyTwo-tournaments {
    display: inline-block;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.noblePlayers {
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.twentyTwoPictures-header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.photo-gallery-columnOne {
    background-color:rgb(255, 255, 255);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    display: flex;
  }
#columnOne {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.photo-gallery-columnTwo {
    background-color:rgb(255, 255, 255);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    display: flex;
  }
#columnTwo {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.photo-gallery-columnThree {
    background-color:rgb(255, 255, 255);
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    display: flex;
  }
#columnThree {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}
.footer-root {
    color:rgb(180, 177, 177);
    background-color:rgb(54, 49, 63);
    padding-bottom:3px;
    padding-top:20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1mm;
    
  }
